.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
}

.categories-container label,
.categories-container span {
    margin: 0.8rem 2rem;
    text-transform: uppercase;
}

.calendar,
.options-container {
    background-color: $mainGreen;
    color: $mainWhite;
    border-radius: 8px;
    display: flex;
    border: solid 2px grey;
    height: 50px;
}

.calendar label,
.calendar input,
.options-container span,
.options-container select {
    width: 12rem;
    text-align: center;
    justify-content: center;
}

option {
    background-color: $mainGrey;
    color: $mainGreen;
    font-weight: 700;
}

@media (max-width: 480px) {
    .calendar label,
    .calendar input,
    .options-container span,
    .options-container select {
        width: 9rem;
        text-align: center;
        font-size: 12px;
        white-space: nowrap;
    }
    .categories-container label,
    .categories-container span {
        margin: 1rem 0rem;
    }
}