.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    gap: 5rem;
}

.categories-container label,
.categories-container span {
    margin: 1rem 2rem;
    text-transform: uppercase;
}

.calendar,
.options-container {
    background-color: $mainGreen;
    color: $mainWhite;
    border-radius: 8px;
    display: flex;
    align-content: center;
    border: solid 2px grey;
}

option {
    background-color: $mainGrey;
    color: $mainGreen;
    font-weight: 700;
}