.categories-container h2 {
    color: $mainBlack;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    position: relative;
}

.categories-container h2::before {
    content: "";
    position: absolute;
    left: 4.5rem;
    bottom: 0.2rem;
    width: 10rem;
    height: 0.65rem;
    transform: skew(-12deg) translateX(-45%);
    background: $mainCoral;
    z-index: -1;
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: 95vw;
    max-width: 1800px;
    margin-top: 3rem;
}

.categories-container label,
.categories-container span {
    margin: 0.8rem 2rem;
    text-transform: uppercase;
}

.calendar,
.options-container {
    background-color: $mainGreen;
    color: $mainWhite;
    border-radius: 8px;
    display: flex;
    border: solid 2px grey;
    height: 50px;
}

.calendar label,
.calendar input,
.options-container span,
.options-container select {
    width: 12rem;
    text-align: center;
    justify-content: center;
}

option {
    background-color: $mainGrey;
    color: $mainGreen;
    font-weight: 700;
}

@media (max-width: 480px) {
    .headline-container {
        width: 100%;
        text-align: center;
    }
    .headline-container h2::before {
        top: 1.9rem;
        left: 7.75rem;
    }
    .calendar label,
    .calendar input,
    .options-container span,
    .options-container select {
        width: 9rem;
        text-align: center;
        font-size: 12px;
        white-space: nowrap;
    }
    .categories-container label,
    .categories-container span {
        margin: 1rem 0rem;
    }
}