.error-wrapper {
    min-height: 100vh;
    text-align: center;
}

.error-wrapper h3 {
    margin-top: 5rem;
    width: 50vw;
    background-color: $mainGrey;
    border: none;
}

.error-wrapper a:hover {
    color: red;
}