footer {
    position: fixed;
    bottom: 0;
    background-color: rgb(54, 54, 54);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer a {
    color: whitesmoke;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline;
    padding: 1em;
}

.trademark {
    margin-top: 1.5em;
    font-size: 0.5em;
    color: whitesmoke;
}