footer {
    background-color: $mailAsphalt;
    text-align: center;
    padding: 0.1rem;
    font-size: 12px;
}

footer a {
    color: $mainWhite;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline;
}

.trademark {
    font-size: 10px;
    color: $mainWhite;
}

footer a:hover {
    color: $mainGreen;
}