footer {
    position: fixed;
    bottom: 0;
    background-color: $mailAsphalt;
    width: 100vw;
    text-align: center;
    padding: 0.3rem;
    font-size: 12px;
}

footer a {
    color: whitesmoke;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline;
    padding: 1em;
}

.trademark {
    margin-top: 1.5em;
    font-size: 0.5em;
    color: whitesmoke;
}

footer a:hover {
    color: black;
}