$mainBlack:#172f2f;
$mainGreen: #166f5d;
$mainWhite: rgb(255, 248, 248);
$mainGrey: #e9dede;
$mailAsphalt: #232322;
$mainCoral:#f88f68;
$mainTransition: all 0.2s linear;
body {
    font-family: "Open Sans", sans-serif;
    background-color: $mainGrey;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
}