.main {
    background-image: url('../assets/pexels-rachel-claire-4992673.jpg');
    background-size: cover;
    height: 90vh;
}

header {
    padding: 5rem;
    text-transform: uppercase;
    color: $mainWhite;
    text-shadow: 2px 2px 2px black;
    font-family: 'Hammersmith One', sans-serif;
}

h1 {
    // font-size: 130px;
    font-size: calc(12px + 5vw);
    font-weight: 800;
}

h2 {
    font-size: calc(10px + 1vw);
}

.line {
    background-color: $mainWhite;
    height: 8px;
    width: 40vw;
    margin-bottom: 2rem;
}

.header-btn {
    margin-top: 2rem;
    padding: 0.5rem 7rem;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    white-space: nowrap;
}

.header-btn:hover,
.header-btn:focus {
    background-color: $mainGreen;
    color: $mainWhite;
    border: solid 2px $mainGreen;
}

.header-btn:active {
    transform: scale(0.9);
    box-shadow: 2px 2px 3px black;
    text-shadow: 2px 2px 2px black;
}

@media (max-width: 700px) {
    header {
        padding: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 0 0.3rem;
    }
    .header-btn {
        padding: 0.5rem 1rem;
    }
}