.authorize {
    margin: 5rem auto;
    display: flex;
    width: 50vw;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    text-transform: lowercase;
    border: solid 2px lightgray;
    border-radius: 8px;
    background-color: #C5CACF;
    text-align: center;
}

.authorize form {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.authorize form input {
    width: 7rem;
}

.tour-booking-list {
    height: 100vh;
    width: 100vw;
}