.navbar {
    background-color: $mainGreen;
    padding: 0.1rem 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.logo-wrapper {
    justify-content: center;
    padding: 1rem 0;
    width: calc((80vw - 30rem));
}

.logo {
    height: 3em;
}

.nav-links {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 0 auto;
    justify-content: flex-end;
}

.nav-links li {
    white-space: nowrap;
    display: flex;
}

li a {
    padding: 2rem;
}

.nav-links a {
    color: $mainWhite;
    font-size: 17px;
    transition: $mainTransition;
    text-decoration: none;
    &:hover {
        color: black;
        background-color: white;
    }
}

.navbar li {
    text-transform: uppercase;
    list-style-type: none;
}

@media (max-width: 700px) {
    .logo-wrapper {
        height: 4rem;
        width: auto;
    }
    .navbar ul,
    .logo {
        margin: 0 auto;
        padding: 0;
    }
    .navbar ul {
        flex-direction: column;
        margin: 0 auto;
    }
    .nav-links li {
        width: 100vw;
        text-align: center;
        margin: auto;
        flex: 0;
    }
    .nav-links li {
        flex-direction: column;
    }
    .nav-links li {
        &:hover a,
        li {
            background-color: white;
            color: black;
        }
    }
}

// toggle menu
.fa-bars {
    visibility: hidden;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 25px;
    z-index: 1;
}

#toggle {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 2rem;
    right: 1rem;
    transform: scale(4);
}

@media (max-width: 700px) {
    .fa-bars {
        visibility: visible;
    }
    .nav-links li {
        display: none;
    }
    #toggle:checked~.nav-links li {
        display: inline-flex;
    }
}