.inputformWrapper {
    display: flex;
    background-color: $mainGrey;
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    margin: 3rem auto 2rem;
}

.inputformWrapper form {
    display: flex;
    flex-direction: column;
}

.inputParamsWrapper {
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.noteInput,
.descriptionInput {
    line-height: 1.5em;
    margin: 1em 0;
    padding: 1rem;
}

.inputParamsWrapper button,
.inputParamsWrapper select {
    border: solid 2px $mainGrey;
}

.noteInput,
.descriptionInput {
    border-radius: 10px;
}

.noteButton,
.input-form-select,
.inputParamsWrapper input {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem 1em;
    margin: 0.5rem 0;
    font-family: "Droid Sans", sans-serif;
    background-color: #019875;
    color: #fff;
    transition: 0.2s ease-out;
}

.inputParamsWrapper input {
    background-color: rgba(34, 49, 63, 0.8);
    border-radius: 0;
    order: 1;
}

.input-form-select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    order: 1;
}

.noteButton:hover {
    background-color: #02ba85;
    color: #fff;
    transition: 0.2s ease-out;
}

.noteButton {
    padding: 1rem 3rem;
    order: 3;
}

.noteInput,
.dateInput,
.descriptionInput {
    font-family: "Droid Sans", sans-serif;
    background-color: rgba(34, 49, 63, 0.8);
    color: #fff;
    transition: 0.2s $mainTransition;
}

input:focus {
    background-color: #e4f1fe;
    color: #111;
    transition: 0.2s ease-in;
}

@media (max-width: 900px) {
    .inputParamsWrapper input {
        border-radius: 10px;
        width: 70%;
        margin: 0 20% 0.8rem;
    }
    .inputParamsWrapper button,
    .inputParamsWrapper select {
        border: solid 2px $mainGrey;
    }
}

@media (max-width: 1100px) {
    .input-form-select {
        order: 3;
    }
}

@media (max-width: 517px) {
    .inputformWrapper {
        font-size: 12px;
        margin: 1rem auto;
    }
    .inputParamsWrapper {
        margin: 0.5rem auto;
    }
    .inputParamsWrapper button,
    .input-form-select {
        border-radius: 10px;
        padding: 0.5rem;
    }
    .noteInput,
    .descriptionInput,
    .inputParamsWrapper input {
        padding: 0.5rem;
    }
    .inputParamsWrapper input:nth-child(1n+3) {
        width: 25vw;
        margin: 0 auto;
    }
}