.tour-output-container {
    padding-bottom: 3rem;
    position: relative;
    min-height: 100vh;
    width: 90vw;
    margin: 2rem auto;
}

.tour-output-list {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    justify-content: space-evenly;
    text-transform: uppercase;
}

.tour-item {
    border: solid 2px grey;
    margin: 3.5rem 1.5rem;
    flex: 0 1 320px;
    position: relative;
    box-shadow: 3px 4px 14px gray;
}

.tour-item p {
    padding: 0 1rem;
}

h3 {
    text-transform: uppercase;
    border-bottom: solid 2px grey;
    text-align: center;
    margin: auto;
    background-color: $mainGreen;
    color: rgb(65, 43, 4);
    position: relative;
    line-height: 4rem;
    width: 100%;
}

.img-container {
    background: url('../images/spinner.gif') no-repeat center;
    background-size: 5rem;
    padding: 0 auto;
    width: 20rem;
    height: 20rem;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.tour-img {
    width: 100%;
}

.tour-description {
    z-index: -1;
    background-color: $mainWhite;
    position: absolute;
    top: 11.5rem;
    width: 100%;
    height: calc(100% - 11.5rem);
    opacity: 0;
    text-transform: none;
}

.tour-item:hover .tour-description {
    display: block;
    z-index: 1;
    position: absolute;
    transition: ease-in 0.3s;
    opacity: 0.7;
    background-color: $mainGrey;
}

@media (max-width: 768px) {
    .tour-output-list {
        .tour-item {
            display: flex;
            flex-direction: column;
        }
        .img-container {
            margin-left: 0;
        }
        .tour-description {
            height: auto;
            opacity: 1;
            position: unset;
            display: flex;
            padding: 0.5rem;
        }
        .tour-item:hover .tour-description {
            position: unset;
            opacity: 1;
        }
    }
}

@media (max-width: 350px) {
    .img-container {
        width: 14.5rem;
        height: 14.5rem;
    }
    .tour-description {
        padding: 0;
    }
}