.tour-booking-list {
    min-height: 100vh;
    height: 100%;
}

.tour-edit-table {
    margin: 1rem auto 4rem;
    padding: 1rem 1rem 2rem;
    width: 80vw;
    background-color: #C5CACF;
    text-transform: uppercase;
    border-radius: 10px;
}

.tour-edit-table table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.tour-edit-table td {
    border: none;
    padding: 8px;
    text-align: left;
}

.tour-edit-table td:nth-child(1) {
    width: 5%;
}

.tour-edit-table td {
    width: 5%;
    text-align: center;
}

.tour-edit-table td:nth-child(2) {
    width: 5%;
    text-align: left;
}

.responsive-table th:nth-child(1) {
    width: 5%;
}

.responsive-table th {
    padding-bottom: 0.5rem;
}

.tour-edit-table .table-header {
    text-align: center;
    background-color: #019875;
    color: $mainWhite;
    border: solid 1px #019875;
    margin-bottom: 0;
}

.table-header th {
    line-height: 4;
}

.table-header ul,
.table-vals {
    padding: 0;
    margin: 0;
    align-items: center;
}

.table-vals {
    font-size: 14px;
    white-space: nowrap;
    line-height: 2.5;
}

.table-header {
    justify-content: space-evenly;
}

.table-header ul li {
    line-height: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.tour-edit-table button {
    margin: -0.3rem 0.2rem;
}

.tour-edit-table p:nth-child(3),
.table-header ul li:nth-child(3) {
    width: 3vw;
    padding-left: 0.6rem;
}

.table-header ul li:nth-child(4) {
    width: 7vw;
    padding: 0;
}

.table-header ul li:nth-child(5) {
    width: 3vw;
    padding: 0;
}

.tour-edit-table ul li,
.table-header ul {
    display: flex;
    flex-direction: row;
}

.table-vals:hover,
.tour-edit-table li:hover button {
    background-color: rgb(108, 171, 192);
    color: #fff;
}

.tour-edit-table button {
    border: 0;
    color: rgb(228, 88, 37);
    background: none;
}

button i {
    font-size: 1.3em;
    cursor: pointer;
}

button i:hover {
    transform: scale(1.2);
    color: brown;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.overlay-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40rem;
    padding: 3rem;
    margin: 0 auto;
    background-color: #C5CACF;
}

.overlay-container span {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

@media (min-width: 1300px) {
    .tour-edit-table {
        width: 70vw;
    }
    .table-header ul li:nth-child(2) {
        width: 7vw;
        padding: 0;
    }
    .table-header ul li:nth-child(3) {
        width: 15vw;
        padding: 0 1rem;
    }
}

@media (max-width: 900px) {
    .tour-edit-table {
        width: 95vw;
    }
    .table-header ul {
        font-size: 10px;
    }
    .responsive-table th,
    .responsive-table td {
        width: 5% !important;
        font-size: 10px;
    }
}

@media (max-width: 620px) {
    .tour-edit-table {
        width: 90vw;
    }
    .responsive-table td:nth-child(2) {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100px;
    }
    .tour-edit-table .table-container {
        overflow-x: auto;
        max-width: 100%;
    }
    /* Add a container around the table to enable horizontal scrolling */
    .tour-edit-table .table-container {
        overflow-x: auto;
        max-width: 100%;
    }
    .tour-edit-table td {
        white-space: normal;
        word-wrap: break-word;
    }
    @media (max-width: 720px) {
        .tour-edit-table th,
        .tour-edit-table td {
            font-size: 10px;
        }
    }
    table .table-header,
    .table-vals {
        display: grid;
        grid-template-columns: repeat(6, auto);
        border: solid 1px $mainWhite;
    }
    .table-vals td:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
        width: 100% !important;
        text-align: left;
    }
    .table-vals td:nth-child(2) {
        grid-area: 1 / 2 / 2 / 5;
        width: unset !important;
        max-width: unset;
    }
    .table-vals td:nth-child(3) {
        grid-area: 2 / 1 / 2 / 3;
        width: 100% !important;
        text-align: left;
    }
    .table-vals td:nth-child(4) {
        grid-area: 2 / 2 / 2 / 3;
        width: 100% !important;
        text-align: left;
    }
    .table-vals td:nth-child(5) {
        grid-area: 2 / 3 / 3 / 5;
        width: 100% !important;
    }
    .table-vals td:nth-child(6) {
        grid-area: 2 / 5 / 3 / 7;
        width: 100% !important;
    }
}