.tour-output-container {
    padding-bottom: 3rem;
    position: relative;
    min-height: 100vh;
}

.tour-output-list {
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1.5rem;
    justify-content: space-evenly;
    border: sold 3px red;
    text-transform: uppercase;
}

.tour-output-list h2 {
    text-align: center;
    margin: 2rem auto;
    width: 80vw;
}

.tour-item {
    border: solid 2px grey;
    margin: 1rem;
    flex: 0 1 400px;
    position: relative;
}

.tour-item p {
    padding: 1rem;
}

h3 {
    text-transform: uppercase;
    border-bottom: solid 2px grey;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: $mainGreen;
    color: rgb(65, 43, 4);
    position: relative;
    line-height: 4rem;
}

.img-container {
    background: url('../images/spinner.gif') no-repeat center;
    padding: 0 auto;
    width: 25rem;
    height: 25rem;
    object-fit: contain;
    position: relative;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.tour-img {
    width: 100%;
}

.tour-description {
    z-index: -1;
    background-color: $mainWhite;
    position: absolute;
    top: 17.6rem;
    width: 100%;
    height: calc(100% - 17.6rem);
    opacity: 0;
    text-transform: none;
}

.tour-item:hover .tour-description {
    display: block;
    z-index: 1;
    position: absolute;
    transition: ease-in 0.3s;
    opacity: 0.7;
}

@media (max-width: 780px) {
    .tour-output-list {
        .tour-item {
            flex: 0 1 300px;
        }
        .img-container {
            width: 20rem;
            height: 20rem;
        }
        .tour-description {
            top: 17.5rem;
            height: calc(100% - 17.5rem);
        }
    }
}

@media (max-width: 350px) {
    .tour-output-list {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
        position: relative;
        align-content: center;
    }
    h3 {
        position: relative;
        margin: 0;
        padding: 0;
    }
    .header-tour {
        padding: 1em 0;
    }
    h5 {
        top: -0.5em;
    }
}