@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #e9dede;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

.navbar {
  background-color: #008037;
  padding: 0.1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo-wrapper {
  justify-content: center;
  padding: 1rem 0;
  width: calc((80vw - 30rem));
}

.logo {
  height: 3em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 0 auto;
  justify-content: flex-end;
}

.nav-links li {
  white-space: nowrap;
  display: flex;
}

li a {
  padding: 2rem;
}

.nav-links a {
  color: #fff8f8;
  font-size: 17px;
  transition: all 0.2s linear;
  text-decoration: none;
}

.nav-links a:hover {
  color: black;
  background-color: white;
}

.navbar li {
  text-transform: uppercase;
  list-style-type: none;
}

@media (max-width: 700px) {
  .logo-wrapper {
    height: 4rem;
    width: auto;
  }
  .navbar ul,
  .logo {
    margin: 0 auto;
    padding: 0;
  }
  .navbar ul {
    flex-direction: column;
    margin: 0 auto;
  }
  .nav-links li {
    width: 100vw;
    text-align: center;
    margin: auto;
    flex: 0;
  }
  .nav-links li {
    flex-direction: column;
  }
  .nav-links li:hover a,
  .nav-links li li {
    background-color: white;
    color: black;
  }
}

.fa-bars {
  visibility: hidden;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 25px;
  z-index: 1;
}

#toggle {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 2rem;
  right: 1rem;
  transform: scale(4);
}

@media (max-width: 700px) {
  .fa-bars {
    visibility: visible;
  }
  .nav-links li {
    display: none;
  }
  #toggle:checked ~ .nav-links li {
    display: inline-flex;
  }
}

.main {
  background-image: url("../assets/pexels-rachel-claire-4992673.jpg");
  background-size: cover;
  height: 100vh;
}

header {
  padding: 5rem;
  text-transform: uppercase;
  color: #fff8f8;
  text-shadow: 2px 2px 2px black;
  font-family: 'Hammersmith One', sans-serif;
}

h1 {
  font-size: calc(12px + 5vw);
  font-weight: 800;
}

h2 {
  font-size: calc(10px + 1vw);
}

.line {
  background-color: #fff8f8;
  height: 8px;
  width: 40vw;
  margin-bottom: 2rem;
}

.header-btn {
  margin-top: 2rem;
  padding: 0.8rem 7rem;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #008037;
  color: #fff8f8;
  border: solid 2px #008037;
}

.header-btn:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 3px black;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 700px) {
  header {
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0.3rem;
  }
  .header-btn {
    padding: 0.5rem 1rem;
  }
}

.loading {
  justify-content: center;
  margin: 20% auto 25%;
  display: flex;
  flex-direction: column;
}

.spinner,
.loading h4 {
  margin: 0 auto;
}

.spinner {
  width: 10rem;
  height: auto;
}

.loading h4 {
  font-size: 20px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 5rem;
}

.categories-container label,
.categories-container span {
  margin: 1rem 2rem;
  text-transform: uppercase;
}

.calendar,
.options-container {
  background-color: #008037;
  color: #fff8f8;
  border-radius: 8px;
  display: flex;
  align-content: center;
  border: solid 2px grey;
}

option {
  background-color: #e9dede;
  color: #008037;
  font-weight: 700;
}

.tour-output-container {
  padding-bottom: 3rem;
  position: relative;
  min-height: 100vh;
}

.tour-output-list {
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem;
  justify-content: space-evenly;
  text-transform: uppercase;
}

.tour-output-list h2 {
  text-align: center;
  margin: 2rem auto;
  width: 80vw;
}

.tour-item {
  border: solid 2px grey;
  margin: 1rem;
  flex: 0 1 400px;
  position: relative;
}

.tour-item p {
  padding: 1rem;
}

h3 {
  text-transform: uppercase;
  border-bottom: solid 2px grey;
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #008037;
  color: #412b04;
  position: relative;
  line-height: 4rem;
}

.img-container {
  background: url("../images/spinner.gif") no-repeat center;
  padding: 0 auto;
  width: 25rem;
  height: 25rem;
  object-fit: contain;
  position: relative;
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.tour-img {
  width: 100%;
}

.tour-description {
  z-index: -1;
  background-color: #fff8f8;
  position: absolute;
  top: 17.6rem;
  width: 100%;
  height: calc(100% - 17.6rem);
  opacity: 0;
  text-transform: none;
}

.tour-item:hover .tour-description {
  display: block;
  z-index: 1;
  position: absolute;
  transition: ease-in 0.3s;
  opacity: 0.7;
}

@media (max-width: 780px) {
  .tour-output-list .tour-item {
    flex: 0 1 300px;
  }
  .tour-output-list .img-container {
    width: 20rem;
    height: 20rem;
  }
  .tour-output-list .tour-description {
    top: 17.5rem;
    height: calc(100% - 17.5rem);
  }
}

@media (max-width: 350px) {
  .tour-output-list {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    position: relative;
    align-content: center;
  }
  h3 {
    position: relative;
    margin: 0;
    padding: 0;
  }
  .header-tour {
    padding: 1em 0;
  }
  h5 {
    top: -0.5em;
  }
}

.inputformWrapper {
  display: flex;
  background-color: #e9dede;
  width: 80vw;
  margin: 0 auto;
  justify-content: center;
  margin: 3rem auto 2rem;
}

.inputformWrapper form {
  display: flex;
  flex-direction: column;
}

.inputParamsWrapper {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  margin: 1rem;
  flex-wrap: wrap;
}

.noteInput,
.descriptionInput {
  line-height: 1.5em;
  margin: 1em 0;
  padding: 1rem;
}

.inputParamsWrapper button,
.inputParamsWrapper select {
  border: solid 2px #e9dede;
}

.noteInput,
.descriptionInput {
  border-radius: 10px;
}

.noteButton,
.input-form-select,
.inputParamsWrapper input {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 1rem 1em;
  margin: 0.5rem 0;
  font-family: "Droid Sans", sans-serif;
  background-color: #019875;
  color: #fff;
  transition: 0.2s ease-out;
}

.inputParamsWrapper input {
  background-color: rgba(34, 49, 63, 0.8);
  border-radius: 0;
  order: 1;
}

.input-form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  order: 1;
}

.noteButton:hover {
  background-color: #02ba85;
  color: #fff;
  transition: 0.2s ease-out;
}

.noteButton {
  padding: 1rem 3rem;
  order: 3;
}

.noteInput,
.dateInput,
.descriptionInput {
  font-family: "Droid Sans", sans-serif;
  background-color: rgba(34, 49, 63, 0.8);
  color: #fff;
  transition: 0.2s all 0.2s linear;
}

input:focus {
  background-color: #e4f1fe;
  color: #111;
  transition: 0.2s ease-in;
}

@media (max-width: 900px) {
  .inputParamsWrapper input {
    border-radius: 10px;
    width: 70%;
    margin: 0 20% 0.8rem;
  }
  .inputParamsWrapper button,
  .inputParamsWrapper select {
    border: solid 2px #e9dede;
  }
}

@media (max-width: 1002px) {
  .input-form-select {
    order: 3;
  }
}

@media (max-width: 517px) {
  .inputformWrapper {
    font-size: 12px;
    margin: 1rem auto;
  }
  .inputParamsWrapper {
    margin: 0.5rem auto;
  }
  .inputParamsWrapper button,
  .input-form-select {
    border-radius: 10px;
    padding: 0.5rem;
  }
  .noteInput,
  .descriptionInput,
  .inputParamsWrapper input {
    padding: 0.5rem;
  }
  .inputParamsWrapper input:nth-child(1n+3) {
    width: 25vw;
    margin: 0 auto;
  }
}

.authorize-wrapper {
  min-height: 100vh;
}

.authorize {
  margin: 5rem auto;
  display: flex;
  width: 50vw;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  text-transform: lowercase;
  border: solid 2px lightgray;
  border-radius: 8px;
  background-color: #C5CACF;
  text-align: center;
}

.authorize form {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.authorize form input {
  width: 7rem;
}

.tour-booking-list {
  height: 100vh;
  width: 100vw;
}

.tour-booking-list {
  min-height: 100vh;
  height: 100%;
}

.tour-edit-table {
  margin: 1rem auto;
  padding-bottom: 2rem;
  width: 80vw;
  background-color: #C5CACF;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 10px;
}

.tour-edit-table .table-header {
  text-align: center;
  background-color: #019875;
  color: #fff8f8;
  border: solid 1px #019875;
  margin-bottom: 2rem;
}

.table-header ul,
.table-vals {
  padding: 0;
  margin: 0;
  align-items: center;
}

.table-vals {
  font-size: 14px;
  white-space: nowrap;
}

.table-header,
.tour-edit-table ul li {
  justify-content: space-evenly;
}

.tour-edit-table ul p,
.table-header ul li {
  line-height: 1rem;
  margin: 1rem auto;
  text-align: center;
}

.tour-edit-table button {
  margin: -0.3rem 0.2rem;
}

.tour-edit-table li p:nth-child(1),
.tour-edit-table li p:nth-child(1),
.table-header ul li:nth-child(1),
.table-header ul li:nth-child(1) {
  width: 1vw;
}

.tour-edit-table p:nth-child(2),
.table-header ul li:nth-child(2) {
  width: 15vw;
  text-align: left;
}

.table-header ul li:nth-child(2) {
  padding-right: 8vw;
}

.tour-edit-table p:nth-child(3),
.table-header ul li:nth-child(3) {
  width: 3vw;
  padding-left: 0.6rem;
}

.tour-edit-table p:nth-child(4),
.table-header ul li:nth-child(4) {
  width: 7vw;
  padding: 0;
}

.tour-edit-table p:nth-child(5),
.table-header ul li:nth-child(5) {
  width: 3vw;
  padding: 0;
}

.tour-edit-table ul li,
.table-header ul {
  display: flex;
  flex-direction: row;
}

.table-vals li:hover,
.tour-edit-table li:hover button {
  background-color: #6cabc0;
  color: #fff;
}

.tour-edit-table button {
  border: 0;
  color: #e45825;
  background: none;
}

button i {
  font-size: 1.3em;
}

button i:hover {
  transform: scale(1.2);
  color: brown;
}

@media (min-width: 1300px) {
  .tour-edit-table {
    width: 70vw;
  }
  .table-header ul li:nth-child(2),
  .table-vals p:nth-child(2) {
    width: 7vw;
    padding: 0;
  }
  .table-header ul li:nth-child(3),
  .table-vals p:nth-child(3) {
    width: 15vw;
    padding: 0 1rem;
  }
}

@media (max-width: 1300px) {
  .tour-edit-table {
    width: 80vw;
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .table-header ul,
  .tour-edit-table p {
    font-size: 10px;
  }
}

@media (max-width: 620px) {
  .tour-edit-table {
    padding: 10px;
  }
  .table-vals li p {
    margin: 0 0.3rem;
    width: 1rem;
  }
  .tour-edit-table .table-header ul,
  .tour-edit-table:nth-child(2) > ul li {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-row-gap: 10px;
    margin: 0.5rem auto;
    padding: 10px;
    box-shadow: 1px 1px 7px 1px grey;
    border: 2px solid #979494;
  }
  .tour-edit-table .table-header ul {
    display: none;
  }
}

@media (max-width: 372px) {
  .tour-edit-table:nth-child(2) > ul li {
    display: flex;
    flex-direction: column;
  }
}

footer {
  background-color: #232322;
  text-align: center;
  padding: 0.1rem;
  font-size: 12px;
}

footer a {
  color: #fff8f8;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline;
}

.trademark {
  font-size: 10px;
  color: #fff8f8;
}

footer a:hover {
  color: #008037;
}
