/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc5c5;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
}

.main {
  background-image: url("../assets/pexels-rachel-claire-4992673.jpg");
  background-size: cover;
  height: 90vh;
  z-index: 1;
}

.home {
  overflow: hidden;
  margin: 0 auto;
}

header {
  padding: 5rem;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-family: 'Hammersmith One', sans-serif;
}

h1 {
  font-size: calc(12px + 5vw);
  font-weight: 800;
}

h2 {
  font-size: calc(10px + 1vw);
}

.line {
  background-color: white;
  height: 8px;
  width: 40vw;
  margin-bottom: 2rem;
}

.header-btn {
  margin-top: 2rem;
  padding: 0.5rem 7rem;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #008037;
  color: white;
  border: solid 2px #008037;
}

.header-btn:active {
  transform: scale(0.9);
  box-shadow: 2px 2px 3px black;
  text-shadow: 2px 2px 2px black;
}

@media (max-width: 700px) {
  header {
    padding: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 0.3rem;
  }
  .header-btn {
    padding: 0.5rem 1rem;
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.navbar {
  background-color: #008037;
  padding: 0.1rem 3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.logo-wrapper {
  justify-content: center;
  padding: 1rem 0;
  width: calc((80vw - 30rem));
}

.logo {
  height: 3em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin: 0 auto;
  justify-content: flex-end;
}

.nav-links li {
  white-space: nowrap;
  display: flex;
}

li a {
  padding: 2rem;
}

.nav-links a {
  color: #fff8f8;
  font-size: 17px;
  transition: all 0.2s linear;
  text-decoration: none;
}

.nav-links a:hover {
  color: black;
  background-color: white;
}

.navbar li {
  text-transform: uppercase;
  list-style-type: none;
}

@media (max-width: 700px) {
  .logo-wrapper {
    height: 4rem;
    width: auto;
  }
  .navbar ul,
  .logo {
    margin: 0 auto;
    padding: 0;
  }
  .navbar ul {
    flex-direction: column;
    margin: 0 auto;
  }
  .nav-links li {
    width: 100vw;
    text-align: center;
    margin: auto;
    flex: 0;
  }
  .nav-links li {
    flex-direction: column;
  }
  .nav-links li:hover a,
  .nav-links li li {
    background-color: white;
    color: black;
  }
}

.fa-bars {
  visibility: hidden;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  font-size: 25px;
  z-index: 1;
}

#toggle {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 2rem;
  right: 1rem;
  transform: scale(4);
}

@media (max-width: 700px) {
  .fa-bars {
    visibility: visible;
  }
  .nav-links li {
    display: none;
  }
  #toggle:checked ~ .nav-links li {
    display: inline-flex;
  }
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #363636;
  width: 100vw;
  text-align: center;
  padding: 0.3rem;
  font-size: 12px;
}

footer a {
  color: whitesmoke;
}

footer ul {
  padding: 0;
}

footer li {
  display: inline;
  padding: 1em;
}

.trademark {
  margin-top: 1.5em;
  font-size: 0.5em;
  color: whitesmoke;
}

footer a:hover {
  color: black;
}
